<a href="https://colab.research.google.com/github/Kaustubh-Amare/NYC-taxi-trip-time-prediction-ML-regresssion/blob/main/NYC_taxi_trip_prediction_ML_kaustubh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Step 1- importing libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn import ensemble

import warnings 
warnings.filterwarnings("ignore")
print("libraries import succesfully")

libraries import succesfully

## Step 2 :- Import  and overview Data set

> Indented block

In [2]:
path = '/content/drive/MyDrive/DATA_SCI_almabetter/drive_data/NYC_Taxi_Data.csv'
df = pd.read_csv(path)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  object
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [4]:
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [5]:
df.shape

(1458644, 11)

In [6]:
missing_val_count_by_column = df.isnull().sum()/len(df)

In [7]:
missing_val_count_by_column

id                    0.0
vendor_id             0.0
pickup_datetime       0.0
dropoff_datetime      0.0
passenger_count       0.0
pickup_longitude      0.0
pickup_latitude       0.0
dropoff_longitude     0.0
dropoff_latitude      0.0
store_and_fwd_flag    0.0
trip_duration         0.0
dtype: float64

>maing copy of data set

In [8]:
wkdf= df.copy() # working df

In [9]:
wkdf.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [10]:
# Defining a function
def complete_info():
    null = pd.DataFrame(index=wkdf.columns)
    null['data_type'] = wkdf.dtypes
    null['null_count'] = wkdf.isnull().sum()
    null['unique_count'] = wkdf.nunique()
    return null

In [11]:
complete_info()

                   data_type  null_count  unique_count
id                    object           0       1458644
vendor_id              int64           0             2
pickup_datetime       object           0       1380222
dropoff_datetime      object           0       1380377
passenger_count        int64           0            10
pickup_longitude     float64           0         23047
pickup_latitude      float64           0         45245
dropoff_longitude    float64           0         33821
dropoff_latitude     float64           0         62519
store_and_fwd_flag    object           0             2
trip_duration          int64           0          7417

## step 3 modify data set
>feature engieering

In [12]:
# converting columns from object to date time
wkdf['pickup_datetime'] = pd.to_datetime(wkdf['pickup_datetime'])
wkdf['dropoff_datetime'] = pd.to_datetime(wkdf['dropoff_datetime'])

In [13]:
wkdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  datetime64[ns]
 3   dropoff_datetime    1458644 non-null  datetime64[ns]
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(2)
memory usage: 122.4+ MB

> Extracting pickup month, day of week ,day, hour

In [14]:
#Creating datetime features based on pickup_datetime
import calendar
wkdf['pickup_date'] = wkdf[ 'pickup_datetime'].dt.date
wkdf['pickup_day']=wkdf [ 'pickup_datetime'].apply(lambda x:x.day)
wkdf['pickup_hour']=wkdf['pickup_datetime'].apply(lambda x:x.hour)
wkdf['pickup_day_of_week' ]=wkdf['pickup_datetime'].apply(lambda x: calendar.day_name[x.weekday()])
wkdf['pickup_DOW_NO']=wkdf['pickup_datetime'].dt.weekday
wkdf['pickup_month']=wkdf [ 'pickup_datetime'].apply(lambda x:x.month)
wkdf['pickup_year']=wkdf['pickup_datetime'].apply(lambda x:x.year)
wkdf.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_date,pickup_day,pickup_hour,pickup_day_of_week,pickup_DOW_NO,pickup_month,pickup_year
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,2016-03-14,14,17,Monday,0,3,2016
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,2016-06-12,12,0,Sunday,6,6,2016
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2016-01-19,19,11,Tuesday,1,1,2016
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,2016-04-06,6,19,Wednesday,2,4,2016
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,2016-03-26,26,13,Saturday,5,3,2016

In [15]:
#Creating datetime features based on dropoff_datetime
import calendar
wkdf['dropoff_date'] = wkdf[ 'dropoff_datetime'].dt.date
wkdf['dropoff_day']=wkdf [ 'dropoff_datetime'].apply(lambda x:x.day)
wkdf['dropoff_hour']=wkdf['dropoff_datetime'].apply(lambda x:x.hour)
wkdf['dropoff_day_of_week' ]=wkdf['dropoff_datetime'].apply(lambda x: calendar.day_name[x.weekday()])
wkdf['dropoff_DOW_NO']=wkdf['dropoff_datetime'].dt.weekday
wkdf['dropoff_month']=wkdf [ 'dropoff_datetime'].apply(lambda x:x.month)
wkdf['dropoff_year']=wkdf['dropoff_datetime'].apply(lambda x:x.year)
wkdf.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pickup_DOW_NO,pickup_month,pickup_year,dropoff_date,dropoff_day,dropoff_hour,dropoff_day_of_week,dropoff_DOW_NO,dropoff_month,dropoff_year
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,...,0,3,2016,2016-03-14,14,17,Monday,0,3,2016
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,...,6,6,2016,2016-06-12,12,0,Sunday,6,6,2016
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,...,1,1,2016,2016-01-19,19,12,Tuesday,1,1,2016
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,...,2,4,2016,2016-04-06,6,19,Wednesday,2,4,2016
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,...,5,3,2016,2016-03-26,26,13,Saturday,5,3,2016

### calculating distance

In [16]:
#importing geopy library
from geopy.distance import geodesic

In [17]:
#Creating the function for calculating distance between pickup and dropoff
def distance_cal(pickup_lat,pickup_long,dropoff_lat,dropoff_long):
 
 start_coordinates=(pickup_lat,pickup_long)
 stop_coordinates=(dropoff_lat,dropoff_long)
 
 return geodesic(start_coordinates,stop_coordinates).km

In [18]:
#Applying the function to our dataset and creating the feature ‘distance’.
wkdf['distance'] = wkdf.apply(lambda x: distance_cal(x['pickup_latitude'],x['pickup_longitude'],x['dropoff_latitude'],x['dropoff_longitude'] ), axis=1)

In [19]:
wkdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 26 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   id                   1458644 non-null  object
 1   vendor_id            1458644 non-null  int64
 2   pickup_datetime      1458644 non-null  datetime64[ns]
 3   dropoff_datetime     1458644 non-null  datetime64[ns]
 4   passenger_count      1458644 non-null  int64
 5   pickup_longitude     1458644 non-null  float64
 6   pickup_latitude      1458644 non-null  float64
 7   dropoff_longitude    1458644 non-null  float64
 8   dropoff_latitude     1458644 non-null  float64
 9   store_and_fwd_flag   1458644 non-null  object
 10  trip_duration        1458644 non-null  int64
 11  pickup_date          1458644 non-null  object
 12  pickup_day           1458644 non-null  int64
 13  pickup_hour          1458644 non-null  int64
 14  pickup_day_of_week   1458644 non-null  object
 15  pickup_DOW_NO        1458644 non-null  int64
 16  pickup_month         1458644 non-null  int64
 17  pickup_year          1458644 non-null  int64
 18  dropoff_date         1458644 non-null  object
 19  dropoff_day          1458644 non-null  int64
 20  dropoff_hour         1458644 non-null  int64
 21  dropoff_day_of_week  1458644 non-null  object
 22  dropoff_DOW_NO       1458644 non-null  int64
 23  dropoff_month        1458644 non-null  int64
 24  dropoff_year         1458644 non-null  int64
 25  distance             1458644 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(13), object(6)
memory usage: 289.3+ MB

In [20]:
wkdf= pd.get_dummies(wkdf, columns=['store_and_fwd_flag'])

In [21]:
wkdf.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,...,dropoff_date,dropoff_day,dropoff_hour,dropoff_day_of_week,dropoff_DOW_NO,dropoff_month,dropoff_year,distance,store_and_fwd_flag_N,store_and_fwd_flag_Y
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,455,...,2016-03-14,14,17,Monday,0,3,2016,1.502172,1,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,663,...,2016-06-12,12,0,Sunday,6,6,2016,1.808660,1,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,2124,...,2016-01-19,19,12,Tuesday,1,1,2016,6.379687,1,0
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,429,...,2016-04-06,6,19,Wednesday,2,4,2016,1.483632,1,0
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,435,...,2016-03-26,26,13,Saturday,5,3,2016,1.187038,1,0